body {
    background-color: rgba(255, 228, 196, 0.849)
}

header {
    background-image: url('../images/Clarios_Background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 20px;
    justify-content: center;
    height: 100px;
}

.textback {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* === ALIGNEMENT DU LOGO TASKFLOW === */
.taskflow {
    width: 100%;
    display: flex;
    justify-content: center;
}

.task_back {
    display: flex;
    align-items: center;
    gap: 15px;
}

.task_back img {
    height: 70px;
}

.task_back span {
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

/* display: flex;
    width: 5%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;*/

#BpConnexion {
    display: flex;
    background-color: blue;
    color: white;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 7px;
    text-align: center;
}

/*#BplisteTache {
    display: flex;
    border: 2px rgba(0, 0, 0, 0.339) solid;
    border-radius: 50px;
    margin: 20px;
    padding: 10px;
    font-size: 12px;
    color: black;
}*/

#formConnexion {
    display: flex;
    flex-direction: column;
    padding: 5%;
    background: rgb(202, 111, 111);
    border-radius: 20px;


}

/*///////////////// FORMULAIRE ////////////////////////////////////////////////*/
#connexion {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 40px;
}

#errorConnexion {
    display: flex;
    color: black;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
}

#image_connexion {
    max-width: 80px;
}

.fromText {
    display: flex;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    text-decoration: underline;
}

.formContain {
    display: flex;
    margin-bottom: 30px;
    border-radius: 7px;
}







/* MediaQuery*/
@media screen and (max-width: 480px) {
  #connexion {
    width: 90%;
    margin: 0 auto;
  }
  h2{
    text-align: center;
  }
}






